.restaurant{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
    margin: 0 -12px;
}

.restaurant-item{
    padding-right: 12px;
    padding-bottom: 36px;
    padding-left: 12px;
    width: 33%;
    position : relative ;
}
.restaurant-item-name{
color: #333;
overflow: hidden;
white-space: nowrap;
width: 100%;
display: block;
}
.restaurant-item-type{
color: #767676;
}
.restaurant-item-image{
    width: 100%;
    object-fit: cover;
}
/* Style the header */
.header {
    padding: 10px 16px;
    background: #5ABEFF;
    color: #f1f1f1;
  }
  
  /* Page content */
  .content {
    padding: 16px;
  }
  
  /* The sticky class is added to the header with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 102px;
  }
